* {
    font-family: Helvetica, sans-serif;
}

body {
    margin: 0;
}

h1 {
    text-align: center;
}

section {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
}

section>div {
    padding: 1em;
}

.settings {
    display: block;
    width: 30%;
    padding: 0 2em;
}

.function {
    background-color: #eee;
    padding: 1em;
    margin-bottom: 1em;
}

.equation {
    padding: 1em 0 ;
}

.add-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.add-grid .label {
    margin-right: 1em;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

input {
    width: 100%;
}

svg {
    width: 300px;
    height: 500px;
    background-color: #eee;
}

svg line {
    stroke: black;
}

.mark {
    stroke: black;
}

svg path {
    fill: none;
}