h1 {
    text-align: center;
    font-family: Helvetica, sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.graph, .circle {
    /* width: 100%; */
    padding: 1em;
}

svg {
    height: 40vh;
    background-color: #eee;
}

.mark {
    stroke: black;
}

svg path {
    fill: none;
}